In [1]:
import numpy as np
import pandas as pd

In [2]:
# Cria uma matriz vazia, porem preenchida com zeros kkkk
# So utilizado desta forma pois numpy não deixa preencher matriz com vetores de tamanho diferentes
def matriz_vazia(n):
    a = []
    for i in range(n):
        a.append([])
        for j in range(n):
            a[i].append(0)
    return a

In [80]:
# MUDANÇA, PASSADO A TRABALHAR COM CONJUNTOS
# Gera os possiveis subconjuntos de um dado vetor
def subset(vet):
    n = len(vet)
    conj = []
    for i in range(0, 1<<n):
        x = set()
        for j in range(0, n):
            if (i & (1 << j)) > 0:
                z = set([vet[j]])
                x = x | z
               
        conj.append(x)
    
    conj.remove(set())
    return conj

In [4]:
# Gera celuas para uma matriz de forma simetrica
def gera_celula(a, b, T, conj):
    n = np.shape(T)[0]
    if T[a][b] == 0:
        r = np.random.randint(1, pow(2, n) -1)
        T[a][b] = conj[r]
        T[b][a] = conj[r]
        return conj[r]
    else:
        return T[a][b]

In [5]:
# Preenche a tabela
def preenche_tabela(table, n, conj):
    sub_set = subset(conj)
    for i in range(n):
        for j in range(n):
            table[i][j] = gera_celula(i, j, table, sub_set)
    return table

In [6]:
# Verifica se a matriz é simetrica
def simetrica(mat):
    n = np.shape(mat)[0]

    for i in range(n):
        for j in range(n):
            if not mat[i][j] == mat[j][i]:
                return False

    return True

In [21]:
# Constroi a tabela de acordo com as regras e verifica se é simetrica.
def construir_tabela(n):
    table = matriz_vazia(n)
    conj = np.random.randint(1, n, n)
    table = preenche_tabela(table, n, conj)
    if not simetrica(table):
        table = preencher_tabela(table, n, conj)
    
    for i in range(n):
        table[i][0] = conj[i]
    
    table[0] = conj
    
    return table

In [ ]:
# Virificação a tres de assossiatividade
def verificacao_a_tres(table, n):
    for i in range(n):
        for j in range(n):
            if

In [81]:
table = construir_tabela(5)
tabela = pd.DataFrame(table)
tabela

   0          1             2             3             4
0  4          3             1             3             2
1  3     {3, 4}     {1, 2, 3}        {1, 2}     {1, 3, 4}
2  1  {1, 2, 3}           {2}  {1, 2, 3, 4}  {1, 2, 3, 4}
3  3     {1, 2}  {1, 2, 3, 4}     {2, 3, 4}        {1, 3}
4  2  {1, 3, 4}  {1, 2, 3, 4}        {1, 3}     {1, 2, 3}

In [192]:
# Algoritmo de Yuri, ainda não utilizado.
salvo = []
def inverso_aditivo(B, g, T):
    n  = np.shape(T)[0]
    v = np.zeros(n)
    
    for i in range(1, n):
        if T[g, i] == B:
            return i
        else:
            v[i] = 1
    
    for i in range(1, n):
        if v[i] == 0:
            T[g, i] = B
            T[i, g] = B
            return i
    
    if all(x == 0 for x in v):
        for i in v:
            if i != 0:
                salvo.append(i)

In [ ]:
# Algoritimo de Yuri em construção
def gera_tabela(n):
    table = np.zeros((n, n))
    
    G = []
    for x in range(1, 5+1):
        g.append(pow(2, x))
        
    for i in range(pow(2, n)):
        table[i, 1] = i
        table[1, i] = i